body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffff;
  margin: 0;
  padding: 20px;
}

* {
  position: relative;
  box-sizing: border-box;
}

.image-content {
  width: 100%;
  max-width: 500px;
}

.image-container::before {
  float: left;
  padding-top: 133.76623376623376%;
  content: "";
}

.image-container::after {
  display: block;
  content: "";
  clear: both;
}

.images {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  grid-template-areas:
    "img-1 img-1 img-1"
    "img-1 img-1 img-1"
    "img-1 img-1 img-1"
    "img-2 img-3 img-4";
}

.product {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px dashed #fffce1;
  will-change: transform;
  transition: border-color 0.2s ease;
}

.product:hover {
  border-color: #fff;
}

.product[data-grid="img-1"] {
  grid-area: img-1;
  z-index: 1;
  cursor: default;
}

.product[data-grid="img-1"]:hover {
  border-color: #fffce1;
}

.product[data-grid="img-2"] {
  grid-area: img-2;
}

.product[data-grid="img-3"] {
  grid-area: img-3;
}

.product[data-grid="img-4"] {
  grid-area: img-4;
}

/* Image backgrounds - replace these with your own images */
.product-1 {
  background-image: url("assets/icondream_1-8.png");
}

.product-2 {
  background-image: url("assets/image2.png");
}

.product-3 {
  background-image: url("assets/image3.png");
}

.product-4 {
  background-image: url("assets/image4.png");
}

@media (max-width: 800px) {
  body {
    padding: 10px;
  }
  
  .image-content {
    max-width: 100%;
  }
}